body {
  @media screen and (max-width: 500px) {
    font-size: 12px;
  }
  @media screen and ((max-width: 200px) or (max-height: 200px)) {
    font-size: 8px;
  }
  @media screen and ((max-width: 150px) or (max-height: 150px)) {
    .clock {
      .year,
      .month,
      .day,
      .season {
        display: none;
      }
    }
  }
  @media screen and ((max-width: 130px) or (max-height: 130px)) {
    font-size: 6px;
  }
  @media screen and ((max-width: 100px) or (max-height: 100px)) {
    font-size: 4px;
  }
}

.clock {
  width: 100%;
  height: 100%;
  transition: background ease-in-out 500ms;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;

  .year {
    position: absolute;
    top: 0;
    left: 4px;
  }

  .month {
    position: absolute;
    bottom: 0;
    left: 4px;
  }

  .day {
    position: absolute;
    bottom: 0;
    right: 4px;
  }

  .season {
    position: absolute;
    top: 0;
    right: 4px;
  }

  .visits {
    position: absolute;
    top: 0;
    word-break: break-all;
    font-size: 1em;
    filter: blur(2px) hue-rotate(-45deg) contrast(160%);
    color: var(--background);
    z-index: 0;

    &:hover {
      filter: blur(0px) hue-rotate(-45deg) contrast(160%);
    }
  }

  .minute,
  .hour,
  .second {
    text-shadow: var(--shadow-x) var(--shadow-y) 6px var(--shadow-color);
    transition: text-shadow 0.5s linear;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
  }
  .hour {
    margin-left: -5em;
    transition-duration: 1s;
  }
  .second {
    margin-left: 5em;
    transition-duration: 0.2s;
  }
}
